body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.div_name {color: blueviolet;
           font-size: medium;
           background-color: brown;}
.span_ {color: darkcyan;
        background-color: darkgoldenrod;}           
.div_App {color: cadetblue;
          background-color: chartreuse;   }
.div_ol {color: aqua;
         background-color: violet;}   
.div_ul {color: chartreuse;
          background-color: crimson;}                